{% load static %}


<!-- <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon"> -->
<link rel="shortcut icon" href="https://elearn.roadslink.com/avatar/size/small/id/237" type="image/x-icon">

<!-- fontawesome icon -->
<link rel="stylesheet" href="{% static 'assets/fonts/fontawesome/css/fontawesome-all.min.css' %}">
<!-- animation css -->
<link rel="stylesheet" href="{% static 'assets/plugins/animation/css/animate.min.css' %}">
<!-- vendor css -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<!-- dark mode css -->
<link rel="stylesheet" href="{% static 'assets/css/dark.css' %}">