{% extends 'shared_layout/base.html' %}

{% block contents %}
<h1 class="text-center">User List</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form id="search-form">
                <div class="form-group">
                    <input type="text" name="search" id="search-field" class="form-control"
                        placeholder="Search users by username or email">
                </div>
            </form>
        </div>
    </div>
</div>

<table id="user-table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Company</th>
            <th>Status</th>
            <th>Marks</th>
            <th>Last Login</th>
            <th>Current Attempts</th>
            <th>Active</th>
            <th>Certificate PDF</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.company }}</td>
            <td>{{ user.status }}</td>
            <td>{{ user.marks }}</td>
            <td>{{ user.last_login }}</td>
            <td>{{ user.current_attempts }}</td>
            <td>{% if user.is_active %} Yes {% else %} No {% endif %}</td>
            <td><a href="{% url 'assessments:generate_pdf' user.id %}">PDF</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        var timer;
        $('#search-field').keyup(function () {
            clearTimeout(timer);
            timer = setTimeout(function () {
                var searchValue = $("#search-field").val();
                $.ajax({
                    type: 'GET',
                    url: '/user_search',
                    data: {
                        'search': searchValue
                    },
                    dataType: 'json',
                    success: function (data) {
                        $("#user-table tbody").empty();
                        data.forEach(function (user) {
                            $("#user-table tbody").append(
                                "<tr>" +
                                "<td>" + user.username + "</td>" +
                                "<td>" + user.company + "</td>" +
                                "<td>" + user.status + "</td>" +
                                "<td>" + user.marks + "</td>" +
                                "<td>" + user.last_login + "</td>" +
                                "<td>" + user.current_attempts + "</td>" +
                                "<td>" + (user.is_active ? "Yes" : "No") + "</td>" +
                                "</tr>"
                            );
                        });
                    },
                    error: function (response) {
                        console.log('failed')
                        console.log(response)
                    }
                });
            }, 500);
        });
    });

</script>
{% endblock %}