<!DOCTYPE html>

{% extends 'shared_layout/lms_dashboard.html' %}

{%block title%}
audio
{%endblock title%}
{%block contents%}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                {%if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {%endif%}
                <form id="form" class="form-group">
                    <div class="form-group">
                        <input type="text" class="form-control" id="test_id" placeholder="Enter test ID">
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="audioFile" name="audioFile" placeholder="audioFile"
                            multiple="multiple">
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="json" name="json">
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="Questions" name="Questions">
                    </div>

                    <button type="submit" id="submitBtn" class="btn btn-primary">Upload files</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#form").submit(function (event) {
            event.preventDefault();
            var ins = document.getElementById('audioFile').files.length;

            if (ins == 0) {
                $('#msg').html('<span style="color:red">Select at least one file</span>');
                return;
            }


            var formData = new FormData();
            formData.append("test_id", $("#test_id").val());

            for (var x = 0; x < ins; x++) {
                formData.append("audioFile[]", document.getElementById('audioFile').files[x]);
            }

            // formData.append("audioFile", $("#audioFile").prop("files"));
            // console.log($("#audioFile").prop("files"))
            formData.append("json", $("#json").prop("files")[0]);
            formData.append("Questions", $("#Questions").prop("files")[0]);

            $.ajax({
                url: "/assessments/audio",
                type: "POST",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                headers: { 'X-CSRFToken': csrftoken },
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>

{% endblock contents%}